<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="PythonConsolePath" value="C:\Program Files\3Shape\Scan-os Production Tools\python.exe" />
		<add key="PythonTestScriptName" value="TestSequence.py" />
		<add key="PythonTestConnectionScriptName" value="TestConnection.py" />

		<add key="PenDriveVid" value="VID_ABCD" />
		<add key="PenDriveName" value="USB Mass Storage Device" />
		
		<add key="UsbHubControllerVid" value="VID_0424" />
		<add key="UsbHubControllerName" value="Generic USB Hub" />

		<add key="UsbCompositeDeviceVid" value="VID_08BB" />
		<add key="UsbCompositeDeviceName" value="USB Composite Device" />
		
		<add key="UsbAudioControllerVid" value="VID_08BB" />
		<add key="UsbAudioControllerName" value="USB audio CODEC" />
		
		<add key="NetworkAdapterVid" value="VID_0B95" />
		<add key="NetworkAdapterName" value="ASIX AX88179 USB 3.0 to Gigabit Ethernet Adapter" />

		<add key="FlashDiskVid" value="USBSTOR" />
		<add key="FlashDiskName" value="General UDisk USB Device" />

		<add key="UnknownDeviceVid" value="VID_0000" />

		<add key="ElVisaAdress" value="USB0::0x2A8D::0x3702::MY60260113::0::INSTR" />
		<add key="ElControlAppName" value="ThreeShapeKtEL30000.exe" />
		<add key="ElMinTestLimit" value="1.18" />
		<add key="ElMaxTestLimit" value="1.24" />
		<add key="ElStartCurrent" value="1.17" />
		<add key="ElMaxCurrent" value="1.245" />
		<add key="ElCurrentIncreasement" value="0.001" />
		<add key="ElCheckVoltageAfterTest" value="False" />
		
		
		
		
		
		
		
		
		
	</appSettings>
</configuration>