<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BS_MBSerialNumber" value="1fd2225000x" />

		<add key="PCBUsageCounterLimit" value="100" />
		
		<add key="PythonConsolePath" value="C:\Program Files\3Shape\Scan-os Production Tools\python.exe" />
		<add key="PythonTestScriptName" value="TestSequence.py" />
		<add key="PythonTestConnectionScriptName" value="TestConnection.py" />

		<add key="Image1Name" value="Rotation1.PNG" />
		<add key="Image2Name" value="Rotation2.PNG" />
		<add key="Image3Name" value="SwitchingUnitRight.PNG" />
		<add key="Image4Name" value="SwitchingUnitLeft.PNG" />
		<add key="Image5Name" value="ArticulatorPlateSwitch.PNG" />
	</appSettings>
</configuration>