<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="PythonConsolePath" value="C:\Program Files\3Shape\Scan-os Production Tools\python.exe" />
		<add key="PythonTestScriptName" value="TestSequence.py" />
		<add key="PythonTestConnectionScriptName" value="TestConnection.py" />	
	</appSettings>
</configuration>